<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/layui/css/layui.css">
<link href="https://cdn.bootcdn.net/ajax/libs/nprogress/0.2.0/nprogress.css" rel="stylesheet">

<body>
    <div class="layui-layout layui-layout-admin">
        {{include './common/header.html'}}
        {{include './common/side.html'}}
        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;" id="content">
                <div class="layui-btn-group">
                    <button type="button" class="layui-btn addBtn">添加文章</button>
                </div>
                <table class="layui-table">
                    <colgroup>
                        <col width="60">
                        <col width="200">
                        <col width="100">
                        <col width="140">
                        <col width="80">
                        <col width="100">
                        <col>
                        <col width="100">
                        <col>
                        <col width="240">
                    </colgroup>
                    <thead>
                        <tr>
                            <th style="text-align: center;">序号</th>
                            <th style="text-align: center;">标题</th>
                            <th style="text-align: center;">作者</th>
                            <th style="text-align: center;">封面</th>
                            <th style="text-align: center;">分类</th>
                            <th style="text-align: center;">简介</th>
                            <th style="text-align: center;">发布时间</th>
                            <th style="text-align: center;">状态</th>
                            <th style="text-align: center;">更新时间</th>
                            <th style="text-align: center;">操作</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                    </tbody>
                </table>
                <div id="demo7"></div>
            </div>
        </div>
        {{include './common/foot.html'}}
    </div>
</body>
<script src="/js/jquery.js"></script>
<script src="/layui/layui.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/nprogress/0.2.0/nprogress.js"></script>
<script>
    let curr = 1;
    let limit = 10;
    window.onload = function () {

        layui.use('laypage', function () {
            var laypage = layui.laypage;
            fetchData(curr, limit, (res) => {
                let { count, data } = res
                renderData(laypage, count, limit)
            })
        });
    }
    //封装一个获取文章数据的函数
    function fetchData(curr, limit, callback) {
        $.get('getArticleData', { curr, limit }, function (res) {
            callback && callback(res)
        }, 'json')
    }

    // 关联分页组件
    function renderData(laypage, count, limit) {
        laypage.render({
            elem: 'demo7',
            count,
            limit,
            jump: function (obj) {
                let { curr, limit } = obj
                fetchData(curr, limit, (res) => {
                    let tobdy = renderTable(res.data)
                    $('#tbody').html(tobdy)
                })
            }
        })
    }

    // 页面数据拼接
    function renderTable(data) {
        let articleData = '';
        data.forEach((item, index) => {
            let { art_id, title, author, img, cate_name, pub_time, pub_status, update_time } = item
            articleData += `
                <tr style="text-align:center;">
                        <td>${index + 1}</td>
                        <td>
                            <div class="title">${title}</div>
                        </td>
                        <td>${author}</td>
                        <td><img src="${img}" class="img" style="height: 50px;"></td>
                        <td>${cate_name}</td>
                        <td><button class="layui-btn layui-btn-sm articleDetail" art_id=${art_id}>查看全文</button>
                        </td> 
                        <td>${pub_time}</td>
                        <td>${pub_status}</td>
                        <td>${update_time}</td>
                        <td>
                        <button type="button" art_id=${art_id} class="layui-btn layui-btn-sm editBtn">编辑</button>
                        <button type="button" art_id=${art_id} img=${img} class="layui-btn layui-btn-danger layui-btn-sm delBtn">删除</button>
                        <button type="button" class="layui-btn layui-btn-normal layui-btn-sm">加入回收站</button>
                    </td>
                </tr> `
        })
        return articleData
    }

    // 文章编辑
    $('#tbody').on('click', '.editBtn', function () {
        let art_id = $(this).attr('art_id')
        $.post('/editPage', { art_id }, function (res) {
            $('#content').html(res)
        })
    })

    // 文章删除
    $('#tbody').on('click', '.delBtn', function () {
        let _this = $(this)
        layer.confirm('确定删除吗', {
            btn: ['确定', '取消']
        }, function () {
            let art_id = _this.attr('art_id')
            let img = _this.attr('img')
            $.post('/del', { art_id, img }, function (res) {
                let { code, message } = res
                if (code == 10000) {
                    layer.msg(message, { icon: 1, time: 1000 })
                    fetchArticleData()
                } else {
                    layer.msg(message)
                }
            }, 'json')
        })

    })

    //查看文章详情
    $('#tbody').on('click', '.articleDetail', function () {
        let _this = $(this)
        let art_id = _this.attr('art_id')
        $.get('/articleDetail', { art_id }, function (res) {
            let { title, content, author } = res
            let htmlStr = `
                <div style="padding:10px;">
                    <h2 style='text-align:center'>${title}</h2>
                    <h2 style='text-align:center'>作者： ${author}</h2>
                    <p>${content}</p>
                <div>`
            layer.open({
                type: 1,
                shadeClose: true,
                area: ['820px', '340px'], //宽高
                content: htmlStr
            });
        }, 'json')
    })

    // 文章添加
    $('.addBtn').click(function () {
        $.get('/addPage', function (res) {
            $('#content').html(res)
        })
    })
</script>

</html>