<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item">
                <a class="" href="javascript:;">首页</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">可视化数据</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a class="" href="javascript:;">文章管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="/article_list">文章列表</a></dd>
                    <dd><a href="javascript:;">回收站列表</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">分类管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="/article_sort">文章分类</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>